.car{
    padding: 3rem;
}
.img{
    width: 100%;
}

.h2{
    width:100%;
    padding:0.5rem;
    text-align: center;
    background-color: #426ed4;
    color:white;
    font-weight: 700;
}

.strong{
    font-weight: 700;
    font-size: 1.25rem;
}

.p{
    font-size: 1.1rem;
    font-weight: 200;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.span{
    color:green;
    font-weight: 700;
    font-size: 1.25rem;
}

.h3{
    font-size: 1.25rem;
    color:green;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .h2{
        font-weight: 700;
        font-size: 1rem;
    }
    
    .strong{
        font-weight: 700;
        font-size: 0.9rem;
    }
}